* {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  vertical-align: middle;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
  // margin: auto;
  display: flex;
  justify-content: space-between;

  .recent-scores {
    width: 45%;

    .header {
      width: 100%;
      display: flex;
    }

    .scores {
      text-align: center;

      .score-table {
        width: 98%;
        margin: auto;
      }
    }
  }

  .add-scores {
    width: 45%;

    .heading {
      display: flex;
      justify-content: flex-start;
    }

    .input-form {
      width: 100%;

      .input {
        width: 80%;
        margin: 10px auto;
        height: 30px;
      }

      .submit {
        width: 80%;
        text-align: end;

        .submit-btn {
          padding: 10px;
        }
      }
    }
  }
}
